:root {
    --size: 250px;
    --size-1: 220px;
    --size-2: 120px;
    --sec-width: 180px;
    --sec-hight: 180px;
    --min-width: 140px;
    --min-hight: 140px;
    --hr-width: 110px;
    --hr-hight: 110px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    background: rgba(0,0,0,0);
    -webkit-app-region: drag;
}
body {
    /*display: grid;*/
    /*place-items: center;*/
    background: rgba(0,0,0,0);
    /*text-align: center;*/
}
#timeBox {
    width: 180px;
    height: 78px;
    background: #dde1e7;
    position: absolute;
    top: 5px;
    border-radius: 10px;
    box-shadow: 3px 2px 4px 0 #c3c3c3;
    margin-left: 23px;
}
.clock {
    position: absolute;
    height: var(--size);
    width: var(--size);
    transform: scale(0.32) translate(-133%, -107%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dde1e7;
    border-radius: 50%;
    box-shadow: -3px -3px 7px #ffffff73,
                3px 3px 5px rgba(94,104,121,0.288);
}
.clock:before {
    position: absolute;
    content: '';
    height: var(--size-1);
    width: var(--size-1);
    background: #dde1e7;
    box-shadow: inset -3px -3px 7px #ffffff73,
                inset 3px 3px 5px rgba(94,104,121,0.288);
    border-radius: 50%;
}
.clock:after {
    position: absolute;
    content: '';
    height: var(--size-2);
    width: var(--size-2);
    background: #dde1e7;
    box-shadow:  -1px -1px 5px #ffffff73,
                1px 1px 3px rgba(94,104,121,0.288);
    border-radius: 50%;
}
.clock .center-nut {
    height: 15px;
    width: 15px;
    background: #404040;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
}
.clock .center-nut2 {
    height: 9px;
    width: 9px;
    background: #3498db;
    border-radius: 50%;
    z-index: 15;
    position: absolute;
}
.indicators div {
    position: absolute;
    width: 2px;
    height: 5px;
    background: #404040;
}
.indicators div:nth-child(1) {
    transform: rotate(30deg) translateY(-100px);
}
.indicators div:nth-child(2) {
    transform: rotate(60deg) translateY(-100px);
}
.indicators div:nth-child(3) {
    background: #3498db;
    transform: rotate(90deg) translateY(-100px);
}
.indicators div:nth-child(4) {
    transform: rotate(120deg) translateY(-100px);
}
.indicators div:nth-child(5) {
    transform: rotate(150deg) translateY(-100px);
}
.indicators div:nth-child(6) {
    background: #3498db;
    transform: rotate(180deg) translateY(-100px);
}
.indicators div:nth-child(7) {
    transform: rotate(210deg) translateY(-100px);
}
.indicators div:nth-child(8) {
    transform: rotate(240deg) translateY(-100px);
}
.indicators div:nth-child(9) {
    background: #3498db;
    transform: rotate(270deg) translateY(-100px);
}
.indicators div:nth-child(10) {
    transform: rotate(300deg) translateY(-100px);
}
.indicators div:nth-child(11) {
    transform: rotate(330deg) translateY(-100px);
}
.indicators div:nth-child(12) {
    background: #3498db;
    transform: rotate(360deg) translateY(-100px);
}
.sec-hand,.min-hand,.hr-hand {
    position: absolute;
}
.sec-hand, .sec {
    height: var(--sec-hight);
    width: var(--sec-width);
    z-index: 6;
}
.min-hand, .min {
    height: var(--min-hight);
    width: var(--min-width);
    z-index: 5;
}
.hr-hand, .hr {
    height: var(--hr-hight);
    width: var(--hr-width);
    z-index: 4;
}
.sec,.min,.hr {
    display: flex;
    justify-content: center;
    position: absolute;
}
.sec:before {
    position: absolute;
    content: '';
    height: 110px;
    width: 3px;
    background: #3498db;
}
.sec:after {
    position: absolute;
    content: '';
    height: 35px;
    width: 7px;
    background: #3498db;
    top: 105px;
    border-radius: 5px;
}
.min:before {
    position: absolute;
    content: '';
    width: 1px;
    top: -15px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 60px solid #e95949;
}
.min:after {
    position: absolute;
    content: '';
    width: 3px;
    top: 40px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 30px solid #e95949;
}
.hr:before {
    position: absolute;
    content: '';
    width: 1px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 35px solid #303030;
}
.hr:after {
    position: absolute;
    content: '';
    width: 3px;
    top: 35px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 25px solid #303030;
}
.info {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
}
.info .time {
    font-size: 24px;
    user-select: none;
}
.info .date {
    font-size: 12px;
    color: #72829a;
    text-align: center;
    padding-top: 4px;
    user-select: none;
}
