* {
    padding: 0;
    margin: 0;
}
body {
    background: #000;
    color: #fff;
    font-family: "Lucida Console", Monaco, monospace;
    line-height: 1.5;
}
a {
    color: #fff;
    text-decoration: none;
    border-bottom: solid 2px;
}
body {
    background-image: url(https://s1.ax1x.com/2022/06/09/Xy3KfJ.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
.content {
    width: 600px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(51,51,51, 0.9);
    padding: 45px 20px 20px;
    box-sizing: border-box;
    box-shadow: 0 0 25px rgba(0, 0, 0, .8);
    border-radius: 5px 5px 5px 5px;
}
.browser-bar {
    background: #f9f9f3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
.button {
    display: inline-block;
    float: left;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.close {
    background: #fc635d;
}
.min {
    background: #fdbc40;
}
.max {
    background: #34c84a;
}
#text {
    box-sizing: border-box;
    outline:none;
    resize:none;
    border: none;
    padding: 14px;
    width: 100%;
    height: 240px;
    font-size: 28px;
    border-radius: 10px;
    background: rgba(0,0,0,0);
    color: #fff;
}
#text::-webkit-scrollbar {
    display: none;
}
